.footerWrapper {
padding: 20px;
background: #041938;
}

.footerWrapper .footerGrid{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footerWrapper .footerGrid .social {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* flex-direction: column; */
    /* gap: -200px; */
}

.footerWrapper .footerGrid div h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}

.footerWrapper .footerGrid div a {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 0px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footerWrapper .footerGrid div a p{
    position: absolute;
    left: 20px;
    top: -17px;
}

@media(max-width: 600px) {
    .footerWrapper .footerGrid div a p{
        position: absolute;
        left: 20px;
        top: -15px;
    }
}



.reservedFooter{
    text-align: center;
}

.reservedFooter p{
font-family: 'Montserrat';
font-style: italic;
font-weight: 700;
font-size: 13px;
line-height: 16px;
color: #041938;
}



@media (max-width: 950px) {
    .footerWrapper .footerGrid div a{
        font-size: 12px;
    }

    .footerWrapper .footerGrid div h2 {
        font-size: 18px;
    }
}

@media (max-width: 950px) {
    .footerWrapper .footerGrid{
        display: grid;
        width: 95%;
        gap: 10px;
        margin: auto;
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 500px) {
    .footerWrapper .footerGrid div a{
        font-size: 11px;
    }

    .footerWrapper .footerGrid div h2 {
        font-size: 16px;
    }
}

